body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
}

/* banner */

header .container {
  align-items: center;
}

header {
  padding: 20px 0;
  background: black;
  color: white;
  font-size: 18px;
}

header img {
  padding-right: 15px;
  height: 1.5em;
}

/* banner */

.banner {
  background: url('./../images/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}

.banner .container {
  /* background: red; */
}

.banner .box {
  margin-top: 6em;
  min-height: 200px;
  width: 50%;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner h1, h4 {
  margin: 0 2rem;
  font-weight: bold;
}

.banner h1 {
  font-size: 2em;
  line-height: 1.2em;
}

.banner h4 {
}

/* nav */

.nav-main {
  background: firebrick;
}

.nav-main ul {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
}

.nav-main span {
  display: none;
}

main {
  margin-top: 40px;
}

main .container {
  justify-content: space-between;
}

main .product {
  color: white;
  text-align: center;
  border: 5px solid black;
}

main .product span {
  padding: 1em 0;
  display: flex;
  justify-content: center;
  background: black;
}

main .product div {
  background: white;
  height:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .product img {
  margin: 50px;
  width: 200px;
}

/* info  */

.info {
  margin-top: 40px;
}

.info .container {
  display: flex;
}

.info article {
  width: 50%;
}

.info h2 {
  background: black;
  color: white;
  width: 58%;
  padding: 1em;
}

.info span {
  margin-top: 20px;
  display: block;
}

/* footer */

footer {
  margin-top: 40px;
  padding: 100px 0;
  background: black;
  color: white;
  font-size: 18px;
}

@media only screen and (max-width: 1024px) {
  .banner h1 {
    font-size: 1.6em;
    line-height: 1.2em;
  }

  .banner h4 {
    font-size: 0.8em;
  }

  .nav-main ul {
    display: none;
  }

  .nav-main span {
      display: flex;
      margin: 1rem 0;
      width: 100%;
      justify-content: center;
      color: white;
  }

  main .product.glasses {
    display: none;
  }

  main .product img {
    margin: 100px;
    width: 200px;
  }

}

@media only screen and (max-width: 470px) {
  .banner h1 {
    font-size: 1em;
  }

  .banner h4 {
    font-size: 0.8em;
  }

  .banner .box {
    margin-top: 18em;
    min-height: 100px;
    width: 100%;
  }

  main .container {
    justify-content: space-around;
  }

  main .product.watch {
    display: none;
  }

  main .product img {
    margin: 30px;
    width: 300px;
  }

  .info .container {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .info article {
    margin-top: 20px;
    width: 100%;
  }

  .info h2 {
    width: 100%;
    padding: 1em;
  }

  .info span {
    margin: 20px 0 0 16px;
    display: block;
  }

  footer .container {
    justify-content: center;
  }

}
